gmail-ai-classifier.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e24b7191-586b-4aac-8752-06f072c544cb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "noHqr8wZc6r1Elg5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "order",
              "description": "when any email come with the text inside include new order it will separated"
            },
            {
              "category": "inquiry",
              "description": "if any email include words inquiry customer asking any type of question seprates"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "05152047-801a-487c-8b2d-51e9f8a5464e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "d3808bb6-306a-4dec-974c-d80b1139d40e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QDPiaNijwMtqGtPm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-robotics-er-1.5-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-robotics-er-1.5-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=you act as a copy writer and my personal gmail assistant , you will replay to this email \n{{ $json.snippet }}\nyou have to give me replay in two type one you give subject line and one inner email response\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        -32
      ],
      "id": "87ac7f54-1c4d-49a5-a818-fe6fac86d277",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "QDPiaNijwMtqGtPm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.candidates[0].content.parts[0].text.match(/\"subject\":\\s*\"(.*?)\"/)[1] }}",
        "message": "={{ $json.candidates[0].content.parts[0].text.match(/\"body\":\\s*\"(.*?)\"/s)[1] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -64
      ],
      "id": "f0512efb-54ae-4392-b3c2-d04a223192ff",
      "name": "Create a draft",
      "webhookId": "2de57f05-fee3-4960-940d-1f356c0089a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "noHqr8wZc6r1Elg5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-robotics-er-1.5-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-robotics-er-1.5-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=you act as a copy writer and my personal gmail assistant , you will replay to this email \n{{ $('Gmail Trigger').item.json.snippet }}\n\n\nyou have to give me replay in two type one you give subject line and one inner email response\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        96
      ],
      "id": "7b1ff1cb-8ef6-4ae5-a3cb-df92bb0314b7",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QDPiaNijwMtqGtPm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $node[\"Message a model1\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].match(/\"subject\":\\s*\"(.*?)\"/)[1] }}",
        "message": "={{ $node[\"Message a model1\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].match(/\"response\":\\s*\"(.*?)\"/s)[1].replace(/\\\\n/g, '\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        144
      ],
      "id": "8fb4c74b-b463-4dcd-a0d7-fe5abc75f81a",
      "name": "Create a draft1",
      "webhookId": "b8c02fd5-c2fd-406f-afe0-ba5dc3471cdb",
      "credentials": {
        "gmailOAuth2": {
          "id": "noHqr8wZc6r1Elg5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ebc1558c-f517-4ead-9d00-7536e544eb99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f713acadea900ea2e79c55cc583bf41836bf57d25cc5d753ad1e9653a240caea"
  },
  "id": "Ek8DMJUm7Hd2MU2W",
  "tags": []
}